# Project dependencies
PyYAML>=6.0
gfapy>=1.0.0
bcbio-gff>=0.6.9
biopython>=1.80
networkx>=3.0
pytest>=7.0.0
mappy>=2.17
rdflib>=6.3.2
pyshex>=0.8.0
# Added dependencies for GRCh38 processing scripts
tqdm>=4.65.0
pyfaidx>=0.7.1
requests>=2.28.2
pysam>=0.20.0
